@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Anton", sans-serif;
  transition: 0.5s all ease;
}

.container {
  display: grid;
  gap: 30px;
  width: 90vw;
  margin: 0 auto;
}

.container2 {
  display: grid;
  grid-template-columns: 33% 33% 31%;
  gap: 20px;
  margin: 0 auto;
  background-color: #bd3944;
}

.logo {
  font-size: 40px;
}

.logo:hover {
  color: #bd3944;
}

.active {
  text-decoration: underline;
  text-underline-offset: 10px;
}

nav {
  background-color: #000000;
  height: fit-content;
  padding: 15px;
  color: white;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: x-large;
}

nav li {
  list-style: none;
  margin-left: 50px;
}

nav a:hover {
  color: #bd3944;
  transition-delay: 0.3ms;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.SeasonPic {
  grid-column: 1 / span 2;
  grid-row: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(header.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: 40px;
}

.EsportsPic {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(geng.jpg);
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 600px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.Agent {
  grid-column: 1 / span 2;
  grid-row: 2;
  display: grid;
  margin-left: 40px;
}

.AgentImg {
  width: 150px;
}

.TopNews {
  background-color: #000000;
  color: white;
}

.News {
  grid-column: 3 / span 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 30px;
  margin-top: 5px;
  margin-bottom: 40px;
}

.News1 {
  font-size: 17px;
  margin-right: 20px;
}

.News2 {
  font-size: 17px;
}

.Sage {
  grid-column: 1;
  grid-row: 1;
  border-radius: 20px;
}

.Brim {
  grid-column: 2;
  grid-row: 1;
}

.Breach {
  grid-column: 3;
  grid-row: 1;
}

.Jett {
  grid-column: 4;
  grid-row: 1;
}

.Phoenix {
  grid-column: 5;
  grid-row: 1;
}

.SeasonImage {
  width: 1300px;
}

.EsportsImage {
  width: 500px;
}

.NewsImage1 {
  width: 450px;
}

.NewsImage2 {
  width: 400px;
}

.BrimImg {
  width: 150px;
}

.SageImg {
  width: 150px;
}

@media (max-width: 1595px) {
  .container2 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
    margin: 0 auto;
    background-color: #bd3944;
  }

  .SeasonPic {
    grid-column: 1 / span 3;
    grid-row: 1;
    background-image: url(header.jpg);
    background-position: center;
    background-size: cover;
    height: 800px;
    margin-right: 50px;
  }

  .EsportsPic {
    grid-column: 1;
    grid-row: 2;
    background-image: url(geng.jpg);
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 600px;
    margin-left: 120px;
  }

  .News {
    margin-right: 70px;
  }

  .Agent {
    grid-column: 1 / span 3;
    grid-row: 3;
    display: grid;
    margin-left: 60px;
  }
}

@media (max-width: 1210px) {
  .container2 {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    background-color: #bd3944;
    grid-row-gap: 10px;
  }

  .SeasonPic {
    grid-column: 1/2;
    grid-row: 1/1;
    display: block;
    margin-right:50px;
  }

  .EsportsPic {
    display: block;
    align-items: center;
    grid-column: 1/2;
    grid-row: 2/2;
    margin-left: 300px;
  }

  
  

  .NewsDetails {
    display: flex;
    align-items: center;
  }

  .News {
    margin-left: 300px;
    display: block;
    grid-column: 1/2;
    grid-row: 3/3;
  }

  .Agent {
    display: block;
    margin-left: 500px;
    grid-column: 1/2;
    grid-row: 4/4;
  }
}